<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="navbar">
    <img [src]="img">
    <div class="nav-text">
        <div class="select">
            <p>AMEERPET METRO FOOD COURT</p>
            <i class="fa-solid fa-angle-down"></i>
        </div>
        <p class="select-text">Ameerpet Metro Food Court</p>
    </div>
    <ul class="navbar-menu">
        <a href="" >Home</a>
        <a href="">Multi Brand Diner</a>
        <a href="">Co-Living</a>
        <a href="">Partnerships</a>
        <a href="">About Us</a>
    </ul>
    <img [src]="simg" class="simg">
    <a href="" class="nav-enquiry">Enquiry</a>
    <button type="Submit" class="nav-button">Login</button>
</div>