<div class="footer">
    <div class="top">
        <div class="left">
            <img [src]="limg" class="isth-img">
            <div class="left-download">
                <img src="https://isthara.com/assets/footer/google-play.svg">
                <img src="https://isthara.com/assets/footer/app-store.svg">
            </div>
        </div>
        <div class="right">
            <div class="r-top">
                <div class="r1">
                      <h2>Isthara</h2>
                      <ul>
                        <li>Multi Brand Diner</li>
                        <li>Co-Living</li>
                        <li>About Us</li>
                      </ul>
                </div>
                <hr width="1" size="100"/>
                <div class="r2">
                    <h2>Partnership</h2>
                    <ul>
                      <li>Property Owner</li>
                      <li>Food Vendors</li>
                      <li>Colleges/Corporates</li>
                    </ul>
                </div>
                <hr width="1" size="100" />
                <div class="r3">
                    <h2>Support</h2>
                    <ul>
                      <li>Careers</li>
                      <li>FAQ's</li>
                      <li>Contact us</li>
                    </ul>
                </div>
            </div>
            <hr class="btm-line" width="1050"/>
            <div class="r-bottom">
                <h2>Our Presence</h2>
                <div class="oup-lists">
                    <div class="oup-list1">
                        <h3>Multi Brand Diner</h3>
                        <ul class="oup">
                            <li>Hyderabad +</li>
                            <li>Mumbai +</li>
                            <li>Bangalore +</li>
                        </ul>
                    </div>
                    <div class="oup-list2">
                        <h3>Co Living</h3>
                        <ul>
                            <li>Hyderabad +</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="border-bottom">
    <div class="bottom">
        <div class="bottom-text">
            <p>Terms & Conditions</p>
            <p>Privacy policy</p>
        </div>
        <div class="icons">
            <div class="only-icons">
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-facebook"></i>
            </div>
            <p class="icon-text">© ISTHARA PARKS PRIVATE LIMITED 2024</p>
        </div>

    </div>
</div>
